@import compass/reset
@import compass/css3
@import mixins

body
  background-color: #efe8dd
  @include background(linear-gradient(color-stops(#ced5d3, #ced5d3 144px, #efe8dd 144px, #efe8dd)))

.container
  width: 960px
  height: 500px
  position: relative
  margin: 50px auto 0 auto
  @include perspective(2600px)
  @include perspective-origin(50% -1400px)

.stage
  width: 460px
  margin: 0 auto
  @include transform-style(preserve-3d)
  @include transform(rotateY(-45deg))

  /* background: url(../images/portal.png) no-repeat

  .back-left
    width: 500px
    height: 120px
    position: absolute
    background-color: #6b522b
    @include transform-style(preserve-3d)
    @include transform(rotateY(90deg) translateX(-256px))
    border-top: 6px solid #8a683d
    border-left: 6px solid #574625

  .back-right
    width: 450px
    height: 120px
    position: absolute
    top: -1px
    background-color: #9c7442
    @include transform-style(preserve-3d)
    @include transform(rotateY(0) translateX(254px) translateZ(4px))
    border-top: 6px solid #b5854a
    border-right: 6px solid #78552c

  .platform-left
    width: 460px
    height: 180px
    position: absolute
    background-color: #bcb3a8
    @include transform-style(preserve-3d)
    @include transform(rotateX(90deg) translateY(378px) translateX(241px) translateZ(-41px))

  .platform-right
    width: 460px
    height: 140px
    position: absolute
    background-color: #bcb3a8
    @include transform-style(preserve-3d)
    @include transform(rotateX(90deg) translateY(73px) translateX(244px) translateZ(-56px))
    border-right: 6px solid #554c3d

