/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-1.9.2-p320/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Mixins to extend what Compass provides */
/* line 5, ../sass/screen.sass */
body {
  background-color: #efe8dd;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ced5d3), color-stop(144px, #ced5d3), color-stop(144px, #efe8dd), color-stop(100%, #efe8dd));
  background: -webkit-linear-gradient(#ced5d3, #ced5d3 144px, #efe8dd 144px, #efe8dd);
  background: -moz-linear-gradient(#ced5d3, #ced5d3 144px, #efe8dd 144px, #efe8dd);
  background: -o-linear-gradient(#ced5d3, #ced5d3 144px, #efe8dd 144px, #efe8dd);
  background: linear-gradient(#ced5d3, #ced5d3 144px, #efe8dd 144px, #efe8dd);
  overflow: hidden;
  font-family: Helvetica, Arial, Sans-serif;
  letter-spacing: 2;
}
/* line 12, ../sass/screen.sass */
body .title {
  position: absolute;
  left: 0;
  top: 12px;
}
/* line 17, ../sass/screen.sass */
body .title h3 {
  padding-bottom: 10px;
  font-size: 14px;
}
/* line 20, ../sass/screen.sass */
body .title h3:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  width: 30px;
  height: 5px;
  background: black;
}
/* line 28, ../sass/screen.sass */
body .title h1 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 15px;
}
/* line 32, ../sass/screen.sass */
body .title h2 {
  font-size: 14px;
}
/* line 35, ../sass/screen.sass */
body .info {
  position: absolute;
  text-align: right;
  right: 0;
  top: 12px;
  width: 150px;
  height: 100px;
}

/* line 43, ../sass/screen.sass */
.container {
  width: 960px;
  height: 500px;
  position: relative;
  margin: 20px auto 0 auto;
  -webkit-perspective: 2600px;
  -moz-perspective: 2600px;
  -ms-perspective: 2600px;
  -o-perspective: 2600px;
  perspective: 2600px;
  -webkit-perspective-origin: 50% -1400px;
  -moz-perspective-origin: 50% -1400px;
  -ms-perspective-origin: 50% -1400px;
  -o-perspective-origin: 50% -1400px;
  perspective-origin: 50% -1400px;
}

/* line 51, ../sass/screen.sass */
.stage {
  width: 460px;
  margin: 0 auto;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-45deg);
  -moz-transform: rotateY(-45deg);
  -ms-transform: rotateY(-45deg);
  -o-transform: rotateY(-45deg);
  transform: rotateY(-45deg);
}
/* line 57, ../sass/screen.sass */
.stage div {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
/* line 61, ../sass/screen.sass */
.stage .shadow {
  width: 550px;
  height: 550px;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  -moz-transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  -ms-transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  -o-transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  transform: rotateX(90deg) translateZ(-166px) translateX(550px);
  -webkit-box-shadow: -600px 0 50px #afa79f;
  -moz-box-shadow: -600px 0 50px #afa79f;
  box-shadow: -600px 0 50px #afa79f;
  -webkit-animation: show-background 1.5s forwards;
  -moz-animation: show-background 1.5s forwards;
  -o-animation: show-background 1.5s forwards;
  -ms-animation: show-background 1.5s forwards;
  animation: show-background 1.5s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 74, ../sass/screen.sass */
.stage .back-left {
  width: 500px;
  height: 120px;
  background-color: #6b522b;
  -webkit-transform: rotateY(90deg) translateX(-256px);
  -moz-transform: rotateY(90deg) translateX(-256px);
  -ms-transform: rotateY(90deg) translateX(-256px);
  -o-transform: rotateY(90deg) translateX(-256px);
  transform: rotateY(90deg) translateX(-256px);
  border-top: 6px solid #8a683d;
  border-left: 6px solid #574625;
  -webkit-animation: show-background 1.6s forwards;
  -moz-animation: show-background 1.6s forwards;
  -o-animation: show-background 1.6s forwards;
  -ms-animation: show-background 1.6s forwards;
  animation: show-background 1.6s forwards;
}
/* line 83, ../sass/screen.sass */
.stage .back-right {
  width: 446px;
  height: 120px;
  background-color: #9c7442;
  -webkit-transform: translateX(253px) translateZ(3px);
  -moz-transform: translateX(253px) translateZ(3px);
  -ms-transform: translateX(253px) translateZ(3px);
  -o-transform: translateX(253px) translateZ(3px);
  transform: translateX(253px) translateZ(3px);
  border-top: 6px solid #b5854a;
  border-right: 6px solid #78552c;
  opacity: 0;
  -webkit-animation: show-background 1.8s forwards;
  -moz-animation: show-background 1.8s forwards;
  -o-animation: show-background 1.8s forwards;
  -ms-animation: show-background 1.8s forwards;
  animation: show-background 1.8s forwards;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
/* line 96, ../sass/screen.sass */
.stage .platform-left {
  width: 446px;
  height: 220px;
  background-color: #bcb3a8;
  -webkit-transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  -moz-transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  -ms-transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  -o-transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  transform: rotateX(90deg) translateY(396px) translateX(253px) translateZ(-13px);
  border-bottom: 6px solid #857964;
  opacity: 0;
  -webkit-animation: show-background 1.5s forwards;
  -moz-animation: show-background 1.5s forwards;
  -o-animation: show-background 1.5s forwards;
  -ms-animation: show-background 1.5s forwards;
  animation: show-background 1.5s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 108, ../sass/screen.sass */
.stage .platform-left span {
  display: block;
  position: absolute;
  width: 120px;
  height: 200px;
  left: 0;
  opacity: 0;
  background: -webkit-gradient(radial, 0% 50%, 0, 0% 50%, 90, color-stop(0%, #f3cac8), color-stop(77.77778%, #c8b8ad), color-stop(100%, #bcb3a8));
  background: -webkit-radial-gradient(left, #f3cac8, #c8b8ad 70px, #bcb3a8 90px);
  background: -moz-radial-gradient(left, #f3cac8, #c8b8ad 70px, #bcb3a8 90px);
  background: -o-radial-gradient(left, #f3cac8, #c8b8ad 70px, #bcb3a8 90px);
  background: radial-gradient(left, #f3cac8, #c8b8ad 70px, #bcb3a8 90px);
  -webkit-animation: show-red-highlight 1s forwards;
  -moz-animation: show-red-highlight 1s forwards;
  -o-animation: show-red-highlight 1s forwards;
  -ms-animation: show-red-highlight 1s forwards;
  animation: show-red-highlight 1s forwards;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
  z-index: 10;
}
/* line 122, ../sass/screen.sass */
.stage .platform-right {
  width: 446px;
  height: 164px;
  background-color: #bcb3a8;
  -webkit-transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  -moz-transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  -ms-transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  -o-transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  transform: rotateX(90deg) translateY(88px) translateX(253px) translateZ(-41px);
  border-right: 6px solid #554c3d;
  border-bottom: 6px solid #847660;
  opacity: 0;
  -webkit-animation: show-background 1.6s forwards;
  -moz-animation: show-background 1.6s forwards;
  -o-animation: show-background 1.6s forwards;
  -ms-animation: show-background 1.6s forwards;
  animation: show-background 1.6s forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
/* line 135, ../sass/screen.sass */
.stage .platform-right span {
  display: block;
  position: absolute;
  width: 150px;
  height: 60px;
  left: 280px;
  opacity: 0;
  background: -webkit-gradient(radial, 50% 0%, 0, 50% 0%, 60, color-stop(0%, #cdebe8), color-stop(66.66667%, #c2cbc1), color-stop(100%, #bcb3a8));
  background: -webkit-radial-gradient(top, #cdebe8, #c2cbc1 40px, #bcb3a8 60px);
  background: -moz-radial-gradient(top, #cdebe8, #c2cbc1 40px, #bcb3a8 60px);
  background: -o-radial-gradient(top, #cdebe8, #c2cbc1 40px, #bcb3a8 60px);
  background: radial-gradient(top, #cdebe8, #c2cbc1 40px, #bcb3a8 60px);
  -webkit-animation: show-blue-highlight 1s forwards;
  -moz-animation: show-blue-highlight 1s forwards;
  -o-animation: show-blue-highlight 1s forwards;
  -ms-animation: show-blue-highlight 1s forwards;
  animation: show-blue-highlight 1s forwards;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}
/* line 148, ../sass/screen.sass */
.stage .pit-left {
  width: 447px;
  height: 800px;
  top: -1400px;
  background-color: #4d4233;
  -webkit-transform: translate3D(254px, 125px, 285px);
  -moz-transform: translate3D(254px, 125px, 285px);
  -ms-transform: translate3D(254px, 125px, 285px);
  -o-transform: translate3D(254px, 125px, 285px);
  transform: translate3D(254px, 125px, 285px);
  -webkit-animation: show-pit 1s forwards;
  -moz-animation: show-pit 1s forwards;
  -o-animation: show-pit 1s forwards;
  -ms-animation: show-pit 1s forwards;
  animation: show-pit 1s forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}
/* line 159, ../sass/screen.sass */
.stage .pit-right {
  width: 451px;
  height: 800px;
  top: -1400px;
  background-color: #847660;
  -webkit-transform: translate3D(254px, 125px, 173px);
  -moz-transform: translate3D(254px, 125px, 173px);
  -ms-transform: translate3D(254px, 125px, 173px);
  -o-transform: translate3D(254px, 125px, 173px);
  transform: translate3D(254px, 125px, 173px);
  -webkit-animation: show-pit 1s forwards;
  -moz-animation: show-pit 1s forwards;
  -o-animation: show-pit 1s forwards;
  -ms-animation: show-pit 1s forwards;
  animation: show-pit 1s forwards;
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
/* line 170, ../sass/screen.sass */
.stage .pit-back {
  width: 170px;
  height: 220px;
  background-color: #6b522b;
  -webkit-transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  -moz-transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  -ms-transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  -o-transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  transform: rotateY(90deg) translate3D(-200px, 87px, 168px);
  -webkit-animation: show-background 1.6s forwards;
  -moz-animation: show-background 1.6s forwards;
  -o-animation: show-background 1.6s forwards;
  -ms-animation: show-background 1.6s forwards;
  animation: show-background 1.6s forwards;
}
/* line 177, ../sass/screen.sass */
.stage .door {
  width: 65px;
  height: 0;
  top: 85px;
  background: #efe8dd;
  border-bottom: 0 solid #bcb3a8;
  border-left: 7px solid #78552e;
  -webkit-transform: translate3D(450px, 34px, 4px);
  -moz-transform: translate3D(450px, 34px, 4px);
  -ms-transform: translate3D(450px, 34px, 4px);
  -o-transform: translate3D(450px, 34px, 4px);
  transform: translate3D(450px, 34px, 4px);
  -webkit-animation: show-door 1.6s forwards;
  -moz-animation: show-door 1.6s forwards;
  -o-animation: show-door 1.6s forwards;
  -ms-animation: show-door 1.6s forwards;
  animation: show-door 1.6s forwards;
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}
/* line 190, ../sass/screen.sass */
.stage .portal {
  width: 48px;
  height: 72px;
  opacity: 0;
  background-color: black;
  -webkit-border-radius: 44px/62px;
  border-radius: 44px/62px;
  -webkit-box-shadow: 0 0 15px 4px white;
  -moz-box-shadow: 0 0 15px 4px white;
  box-shadow: 0 0 15px 4px white;
}
/* line 199, ../sass/screen.sass */
.stage .portal:before {
  content: "";
  display: block;
  width: 48px;
  height: 72px;
  border: 4px solid white;
  -webkit-border-radius: 44px/62px;
  border-radius: 44px/62px;
  margin-top: -4px;
  margin-left: -4px;
}
/* line 210, ../sass/screen.sass */
.stage .portal.red {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(70%, #ff4640));
  background: -webkit-radial-gradient(#000000, #000000 50%, #ff4640 70%);
  background: -moz-radial-gradient(#000000, #000000 50%, #ff4640 70%);
  background: -o-radial-gradient(#000000, #000000 50%, #ff4640 70%);
  background: radial-gradient(#000000, #000000 50%, #ff4640 70%);
  border: 7px solid #ff4640;
  -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg);
  -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg);
  -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg);
  -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg);
  transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg);
  -webkit-animation: show-red-portal 1s forwards;
  -moz-animation: show-red-portal 1s forwards;
  -o-animation: show-red-portal 1s forwards;
  -ms-animation: show-red-portal 1s forwards;
  animation: show-red-portal 1s forwards;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
/* line 219, ../sass/screen.sass */
.stage .portal.blue {
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 70, color-stop(0%, #000000), color-stop(50%, #000000), color-stop(70%, #258aff));
  background: -webkit-radial-gradient(#000000, #000000 50%, #258aff 70%);
  background: -moz-radial-gradient(#000000, #000000 50%, #258aff 70%);
  background: -o-radial-gradient(#000000, #000000 50%, #258aff 70%);
  background: radial-gradient(#000000, #000000 50%, #258aff 70%);
  border: 7px solid #258aff;
  -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg);
  -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg);
  -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg);
  -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg);
  transform: translate3D(586px, 25px, 4px) skewX(-5deg);
  -webkit-animation: show-blue-portal 1s forwards;
  -moz-animation: show-blue-portal 1s forwards;
  -o-animation: show-blue-portal 1s forwards;
  -ms-animation: show-blue-portal 1s forwards;
  animation: show-blue-portal 1s forwards;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}
/* line 228, ../sass/screen.sass */
.stage .dude, .stage .dude-shadow {
  width: 30px;
  height: 100px;
}
/* line 232, ../sass/screen.sass */
.stage .dude figure, .stage .dude-shadow figure {
  display: block;
  background-color: black;
  position: absolute;
}
/* line 237, ../sass/screen.sass */
.stage .dude figure.head, .stage .dude-shadow figure.head {
  top: 0;
  left: 5px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  border-radius: 22px;
}
/* line 244, ../sass/screen.sass */
.stage .dude figure.body, .stage .dude-shadow figure.body {
  top: 21px;
  width: 26px;
  height: 30px;
  -webkit-border-radius: 30px 30px 0 0;
  -moz-border-radius: 30px 30px 0 0;
  -ms-border-radius: 30px 30px 0 0;
  -o-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
}
/* line 250, ../sass/screen.sass */
.stage .dude figure.body:before, .stage .dude figure.body:after, .stage .dude-shadow figure.body:before, .stage .dude-shadow figure.body:after {
  content: "";
  position: absolute;
  width: 9px;
  height: 15px;
  background-color: black;
  top: 30px;
}
/* line 258, ../sass/screen.sass */
.stage .dude figure.body:before, .stage .dude-shadow figure.body:before {
  left: 3px;
}
/* line 261, ../sass/screen.sass */
.stage .dude figure.body:after, .stage .dude-shadow figure.body:after {
  left: 14px;
}
/* line 264, ../sass/screen.sass */
.stage .dude.one {
  -webkit-animation: move-dude-one 10s linear infinite;
  -moz-animation: move-dude-one 10s linear infinite;
  -o-animation: move-dude-one 10s linear infinite;
  -ms-animation: move-dude-one 10s linear infinite;
  animation: move-dude-one 10s linear infinite;
  opacity: 0;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-transform: translate3D(514px, 50px, 375px) rotateY(78deg);
  -moz-transform: translate3D(514px, 50px, 375px) rotateY(78deg);
  -ms-transform: translate3D(514px, 50px, 375px) rotateY(78deg);
  -o-transform: translate3D(514px, 50px, 375px) rotateY(78deg);
  transform: translate3D(514px, 50px, 375px) rotateY(78deg);
}
/* line 272, ../sass/screen.sass */
.stage .dude-shadow.one {
  -webkit-transform: translateX(-12px) rotateX(90deg);
  -moz-transform: translateX(-12px) rotateX(90deg);
  -ms-transform: translateX(-12px) rotateX(90deg);
  -o-transform: translateX(-12px) rotateX(90deg);
  transform: translateX(-12px) rotateX(90deg);
  opacity: 0.1;
}
/* line 276, ../sass/screen.sass */
.stage .dude.two {
  -webkit-animation: move-dude-two 10s linear infinite;
  -moz-animation: move-dude-two 10s linear infinite;
  -o-animation: move-dude-two 10s linear infinite;
  -ms-animation: move-dude-two 10s linear infinite;
  animation: move-dude-two 10s linear infinite;
  opacity: 0;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
  -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
  -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
  -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
  transform: translate3D(610px, 40px, 10px) rotateY(15deg);
}
/* line 288, ../sass/screen.sass */
.stage .dude.two figure.head:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  background: black;
  left: -18px;
  top: 20px;
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -ms-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
  opacity: 0;
  -webkit-animation: arms 10s linear infinite;
  -moz-animation: arms 10s linear infinite;
  -o-animation: arms 10s linear infinite;
  -ms-animation: arms 10s linear infinite;
  animation: arms 10s linear infinite;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}
/* line 303, ../sass/screen.sass */
.stage .dude.two figure.head:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 8px;
  background: black;
  right: -15px;
  top: 20px;
  -webkit-transform: rotateZ(-40deg);
  -moz-transform: rotateZ(-40deg);
  -ms-transform: rotateZ(-40deg);
  -o-transform: rotateZ(-40deg);
  transform: rotateZ(-40deg);
  opacity: 0;
  -webkit-animation: arms 10s linear infinite;
  -moz-animation: arms 10s linear infinite;
  -o-animation: arms 10s linear infinite;
  -ms-animation: arms 10s linear infinite;
  animation: arms 10s linear infinite;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
}
/* line 318, ../sass/screen.sass */
.stage .dude-shadow.two {
  -webkit-transform: translateX(-2px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg);
  -moz-transform: translateX(-2px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg);
  -ms-transform: translateX(-2px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg);
  -o-transform: translateX(-2px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg);
  transform: translateX(-2px) rotateZ(-90deg) rotateY(90deg) rotateZ(50deg);
  opacity: 0.1;
}

@-webkit-keyframes move-dude-one {
  /* line 323, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -moz-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -ms-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -o-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
  }

  /* line 325, ../sass/screen.sass */
  1%, 18% {
    -webkit-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -moz-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -ms-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -o-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    opacity: 1;
  }

  /* line 328, ../sass/screen.sass */
  34%, 39% {
    -webkit-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 331, ../sass/screen.sass */
  41%, 42% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 334, ../sass/screen.sass */
  43%, 100% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 0;
  }
}

@-moz-keyframes move-dude-one {
  /* line 323, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -moz-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -ms-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -o-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
  }

  /* line 325, ../sass/screen.sass */
  1%, 18% {
    -webkit-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -moz-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -ms-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -o-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    opacity: 1;
  }

  /* line 328, ../sass/screen.sass */
  34%, 39% {
    -webkit-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 331, ../sass/screen.sass */
  41%, 42% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 334, ../sass/screen.sass */
  43%, 100% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 0;
  }
}

@-ms-keyframes move-dude-one {
  /* line 323, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -moz-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -ms-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -o-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
  }

  /* line 325, ../sass/screen.sass */
  1%, 18% {
    -webkit-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -moz-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -ms-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -o-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    opacity: 1;
  }

  /* line 328, ../sass/screen.sass */
  34%, 39% {
    -webkit-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 331, ../sass/screen.sass */
  41%, 42% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 334, ../sass/screen.sass */
  43%, 100% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 0;
  }
}

@keyframes move-dude-one {
  /* line 323, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -moz-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -ms-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    -o-transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
    transform: translate3D(514px, -10px, 375px) rotateY(78deg) scaleY(2);
  }

  /* line 325, ../sass/screen.sass */
  1%, 18% {
    -webkit-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -moz-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -ms-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    -o-transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    transform: translate3D(514px, 50px, 375px) rotateY(78deg) scaleY(1);
    opacity: 1;
  }

  /* line 328, ../sass/screen.sass */
  34%, 39% {
    -webkit-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    transform: translate3D(284px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 331, ../sass/screen.sass */
  41%, 42% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 1;
  }

  /* line 334, ../sass/screen.sass */
  43%, 100% {
    -webkit-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -moz-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -ms-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    -o-transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    transform: translate3D(234px, 40px, 375px) rotateY(78deg);
    opacity: 0;
  }
}

@-webkit-keyframes move-dude-two {
  /* line 339, ../sass/screen.sass */
  0%, 42% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    opacity: 0;
  }

  /* line 342, ../sass/screen.sass */
  42.5% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    display: block;
    opacity: 1;
  }

  /* line 346, ../sass/screen.sass */
  46%, 75% {
    -webkit-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    opacity: 1;
  }

  /* line 349, ../sass/screen.sass */
  76%, 97% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }

  /* line 352, ../sass/screen.sass */
  98%, 100% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }
}

@-moz-keyframes move-dude-two {
  /* line 339, ../sass/screen.sass */
  0%, 42% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    opacity: 0;
  }

  /* line 342, ../sass/screen.sass */
  42.5% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    display: block;
    opacity: 1;
  }

  /* line 346, ../sass/screen.sass */
  46%, 75% {
    -webkit-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    opacity: 1;
  }

  /* line 349, ../sass/screen.sass */
  76%, 97% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }

  /* line 352, ../sass/screen.sass */
  98%, 100% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }
}

@-ms-keyframes move-dude-two {
  /* line 339, ../sass/screen.sass */
  0%, 42% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    opacity: 0;
  }

  /* line 342, ../sass/screen.sass */
  42.5% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    display: block;
    opacity: 1;
  }

  /* line 346, ../sass/screen.sass */
  46%, 75% {
    -webkit-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    opacity: 1;
  }

  /* line 349, ../sass/screen.sass */
  76%, 97% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }

  /* line 352, ../sass/screen.sass */
  98%, 100% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }
}

@keyframes move-dude-two {
  /* line 339, ../sass/screen.sass */
  0%, 42% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    opacity: 0;
  }

  /* line 342, ../sass/screen.sass */
  42.5% {
    -webkit-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    transform: translate3D(610px, 40px, 10px) rotateY(15deg);
    display: block;
    opacity: 1;
  }

  /* line 346, ../sass/screen.sass */
  46%, 75% {
    -webkit-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -moz-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -ms-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    -o-transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    transform: translate3D(610px, 40px, 120px) rotateY(15deg);
    opacity: 1;
  }

  /* line 349, ../sass/screen.sass */
  76%, 97% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }

  /* line 352, ../sass/screen.sass */
  98%, 100% {
    -webkit-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -moz-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -ms-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    -o-transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    transform: translate3D(610px, -10px, 120px) rotateY(15deg) scaleY(2);
    opacity: 0;
  }
}

@-webkit-keyframes arms {
  /* line 357, ../sass/screen.sass */
  0%, 53% {
    opacity: 0;
  }

  /* line 359, ../sass/screen.sass */
  54%, 100% {
    opacity: 1;
  }
}

@-moz-keyframes arms {
  /* line 357, ../sass/screen.sass */
  0%, 53% {
    opacity: 0;
  }

  /* line 359, ../sass/screen.sass */
  54%, 100% {
    opacity: 1;
  }
}

@-ms-keyframes arms {
  /* line 357, ../sass/screen.sass */
  0%, 53% {
    opacity: 0;
  }

  /* line 359, ../sass/screen.sass */
  54%, 100% {
    opacity: 1;
  }
}

@keyframes arms {
  /* line 357, ../sass/screen.sass */
  0%, 53% {
    opacity: 0;
  }

  /* line 359, ../sass/screen.sass */
  54%, 100% {
    opacity: 1;
  }
}

@-webkit-keyframes show-background {
  /* line 363, ../sass/screen.sass */
  0% {
    top: 800px;
    opacity: 0;
  }

  /* line 366, ../sass/screen.sass */
  10% {
    opacity: 1;
  }

  /* line 368, ../sass/screen.sass */
  100% {
    top: 0;
    opacity: 1;
  }
}

@-moz-keyframes show-background {
  /* line 363, ../sass/screen.sass */
  0% {
    top: 800px;
    opacity: 0;
  }

  /* line 366, ../sass/screen.sass */
  10% {
    opacity: 1;
  }

  /* line 368, ../sass/screen.sass */
  100% {
    top: 0;
    opacity: 1;
  }
}

@-ms-keyframes show-background {
  /* line 363, ../sass/screen.sass */
  0% {
    top: 800px;
    opacity: 0;
  }

  /* line 366, ../sass/screen.sass */
  10% {
    opacity: 1;
  }

  /* line 368, ../sass/screen.sass */
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes show-background {
  /* line 363, ../sass/screen.sass */
  0% {
    top: 800px;
    opacity: 0;
  }

  /* line 366, ../sass/screen.sass */
  10% {
    opacity: 1;
  }

  /* line 368, ../sass/screen.sass */
  100% {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes show-pit {
  /* line 373, ../sass/screen.sass */
  0% {
    top: -1400px;
  }

  /* line 375, ../sass/screen.sass */
  100% {
    top: 0;
  }
}

@-moz-keyframes show-pit {
  /* line 373, ../sass/screen.sass */
  0% {
    top: -1400px;
  }

  /* line 375, ../sass/screen.sass */
  100% {
    top: 0;
  }
}

@-ms-keyframes show-pit {
  /* line 373, ../sass/screen.sass */
  0% {
    top: -1400px;
  }

  /* line 375, ../sass/screen.sass */
  100% {
    top: 0;
  }
}

@keyframes show-pit {
  /* line 373, ../sass/screen.sass */
  0% {
    top: -1400px;
  }

  /* line 375, ../sass/screen.sass */
  100% {
    top: 0;
  }
}

@-webkit-keyframes show-door {
  /* line 379, ../sass/screen.sass */
  0% {
    height: 0;
    top: 85px;
    border-bottom: 0 solid #bcb3a8;
  }

  /* line 383, ../sass/screen.sass */
  5% {
    border-bottom: 6px solid #bcb3a8;
  }

  /* line 385, ../sass/screen.sass */
  100% {
    height: 85px;
    top: 0;
    border-bottom: 6px solid #bcb3a8;
  }
}

@-moz-keyframes show-door {
  /* line 379, ../sass/screen.sass */
  0% {
    height: 0;
    top: 85px;
    border-bottom: 0 solid #bcb3a8;
  }

  /* line 383, ../sass/screen.sass */
  5% {
    border-bottom: 6px solid #bcb3a8;
  }

  /* line 385, ../sass/screen.sass */
  100% {
    height: 85px;
    top: 0;
    border-bottom: 6px solid #bcb3a8;
  }
}

@-ms-keyframes show-door {
  /* line 379, ../sass/screen.sass */
  0% {
    height: 0;
    top: 85px;
    border-bottom: 0 solid #bcb3a8;
  }

  /* line 383, ../sass/screen.sass */
  5% {
    border-bottom: 6px solid #bcb3a8;
  }

  /* line 385, ../sass/screen.sass */
  100% {
    height: 85px;
    top: 0;
    border-bottom: 6px solid #bcb3a8;
  }
}

@keyframes show-door {
  /* line 379, ../sass/screen.sass */
  0% {
    height: 0;
    top: 85px;
    border-bottom: 0 solid #bcb3a8;
  }

  /* line 383, ../sass/screen.sass */
  5% {
    border-bottom: 6px solid #bcb3a8;
  }

  /* line 385, ../sass/screen.sass */
  100% {
    height: 85px;
    top: 0;
    border-bottom: 6px solid #bcb3a8;
  }
}

@-webkit-keyframes show-red-portal {
  /* line 391, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
  }

  /* line 393, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 395, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes show-red-portal {
  /* line 391, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
  }

  /* line 393, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 395, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    opacity: 1;
  }
}

@-ms-keyframes show-red-portal {
  /* line 391, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
  }

  /* line 393, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 395, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    opacity: 1;
  }
}

@keyframes show-red-portal {
  /* line 391, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(0);
  }

  /* line 393, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 395, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -moz-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -ms-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    -o-transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    transform: translate3D(223px, 30px, 385px) rotateY(90deg) skewX(5deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes show-blue-portal {
  /* line 400, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
  }

  /* line 402, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 404, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    opacity: 1;
  }
}

@-moz-keyframes show-blue-portal {
  /* line 400, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
  }

  /* line 402, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 404, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    opacity: 1;
  }
}

@-ms-keyframes show-blue-portal {
  /* line 400, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
  }

  /* line 402, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 404, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    opacity: 1;
  }
}

@keyframes show-blue-portal {
  /* line 400, ../sass/screen.sass */
  0% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(0);
  }

  /* line 402, ../sass/screen.sass */
  5% {
    opacity: 1;
  }

  /* line 404, ../sass/screen.sass */
  100% {
    -webkit-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -moz-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -ms-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    -o-transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    transform: translate3D(586px, 25px, 4px) skewX(-5deg) scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes show-red-highlight {
  /* line 409, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 411, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show-red-highlight {
  /* line 409, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 411, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes show-red-highlight {
  /* line 409, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 411, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@keyframes show-red-highlight {
  /* line 409, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 411, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes show-blue-highlight {
  /* line 415, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 417, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes show-blue-highlight {
  /* line 415, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 417, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@-ms-keyframes show-blue-highlight {
  /* line 415, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 417, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}

@keyframes show-blue-highlight {
  /* line 415, ../sass/screen.sass */
  0% {
    opacity: 0;
  }

  /* line 417, ../sass/screen.sass */
  100% {
    opacity: 1;
  }
}
